// General
$text-color: black;
$text-strong-color: #2a2929;
$background-color: #f1f6f6;
$body-background-color: #f1f6f6;

// Header
$header-shadow-color: #7b7c88;
$h2-line-color: #8a8a8a;

// Image
$image-border-color: #111f2a;

// Links
$link-color: #2332df;
$link-visited-color: #6a0ac3;

// Quote
$quote-text-color: #5a5a5a;
$quote-border-color: #5a5a5a;

// Code
$inline-code-color: #252525;
$inline-code-background-color: #c6ebeb;
$code-block-color: #000000d9;
$code-block-background-color: transparent;
$code-block-border-color: #19255a;
$code-block-border-size: 1px;
$code-block-language-name-color: #282c30;
$code-block-language-name-background-color: #8ac2e2;
// Code highlighting
/*$token-comment-color: #3e424dbe;
$token-number-color: #fa6824;
$token-symbol-color: #2f499c;
$token-operator-color: #471c5c;
$token-string-color: #159025;
$token-keyword-color: #d63021;
$token-constant-color: #6a17ad;
$token-function-color: #216dc4;
$token-type-color: #8e96ff;
$token-class-color: #c6ffed;
$token-important-color: #c30000;
$token-deleted-color: red;
*/
